{minimum_otp_vsn, "23.0"}.
{erl_opts, [
	debug_info,
	{warn_format, 2},
	warn_export_all,
	warn_export_vars,
	warn_obsolete_guard,
	warn_unused_import
% DEBUG mode - use local boulder instance
%    ,{d, 'LEEC_DEBUG'}
%    ,{d, 'LEEC_TEST'}
]}.
{deps, [
	{shotgun, "0.4.0"},

	% Two possible JSON parsers.
	% Default:
	{jsx, "~> 3.0"},
	% Other option:
	%{jiffy  , "1.0.5"},

	{elli, "3.3.0"},

	% letsencrypt escript dependencies
	{getopt         , "1.0.1"},
	{yamerl         , "0.7.0"},
	{erlang_color   , "1.0.0"}
]}.

{xref_checks, [
	undefined_function_calls,
	locals_not_used,
	deprecated_function_calls
]}.

{dialyzer, [
	% disable *no_match* and *no_unused* temporary
	%{warnings, [error_handling, race_conditions]},
	{warnings, [error_handling, race_conditions, no_match, no_unused, no_return]},
	%{get_warnings, true}
	{get_warnings, false}
]}.

{plugins, [rebar3_auto, rebar3_hex]}.

{profiles, [
	{test, [
		{erl_opts, [{d, 'LEEC_TEST'}]}
	]}
]}.
